<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Equipment Table'">
<th:block layout:fragment="content">
	<table class="data" th:fragment="standard">
		<tr>
			<th>Armor Set</th>
			<th>Head</th>
			<th>Chest</th>
			<th>Hands</th>
			<th>Waist</th>
			<th>Legs</th>
		</tr>
		<tr th:each="entry : ${matrix.entrySet()}">
			<th th:text="${entry.key}"></th>
			<td th:each="equipment : ${entry.value}">
				<ul class="unstyled" th:if="${equipment != null}">
					<li th:each="skillLabel : ${equipment.skillSet.skillLabels}">
						<a th:href="${'/skill/' + skillLabel.key.urlName}" th:text="${skillLabel.key.name}"></a>
						<span th:text="${skillLabel.value}"></span>
					</li>
					<li th:if="${equipment.slotSet.count gt 0}"><span th:text="${equipment.slotSet.label}"></span></li>
				</ul>
			</td>
		</tr>
	</table>
</th:block>
</html>
