<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Equipment Table'">
<th:block layout:fragment="content">
	<table class="equipment data" th:fragment="standard">
		<tr>
			<th>Armor Set</th>
			<th>Head</th>
			<th>Chest</th>
			<th>Hands</th>
			<th>Waist</th>
			<th>Legs</th>
		</tr>
		<tr th:each="entry : ${matrix.entrySet()}" th:class="${entryStat.odd ? 'odd' : 'even'}">
			<th th:text="${entry.key}">Alloy α +</th>
			<td th:each="equipment : ${entry.value}" th:class="${equipment eq null ? 'empty' : ''}">
				<th:block th:if="${equipment != null}">
					<ul class="unstyled">
						<li th:each="skillLabel : ${equipment.skillSet.skillLabels}">
							<a th:href="@{${'/skill/' + skillLabel.key.urlName}}" th:text="${skillLabel.key.name}">Partbreaker</a>
							<span th:text="${skillLabel.value}">3</span>
						</li>
						<li th:if="${equipment.slotSet.count gt 0}"><span th:text="${equipment.slotSet.label}">①①①</span></li>
					</ul>
					<div class="set-bonus" th:if="${equipment.hasSetBonus()}">
						<ul class="unstyled">
							<li><span th:text="${equipment.setBonus.name}"></span></li>
							<li th:each="entry : ${equipment.setBonus.skills}">
								<span th:text="${entry.key + 'x'}"></span>
								<a th:href="@{${'/skill/' + entry.value.urlName}}" th:text="${entry.value.name}"></a>
							</li>
						</ul>
					</div>
				</th:block>
			</td>
		</tr>
	</table>
</th:block>
</html>
