<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Set Builder'">
<th:block layout:fragment="content">

<form action="/set-builder" th:object="${form}" method="post">
<button name="search" style="display: none;"></button>
<table class="form">
	<tr>
		<th colspan="3">Skills of Interest</th>
	</tr>
	<tr>
		<th class="subheader"></th>
		<th class="subheader">Name</th>
		<th class="subheader">Required Level</th>
	</tr>
	<tr th:each="skill : ${form.skills}">
		<td>
			<button name="removeSkill" th:value="${skillStat.index}">X</button>
		</td>
		<td>
			<span th:text="${skill.name}"></span>
			<input type="hidden" th:field="*{skills[__${skillStat.index}__]}" />
		</td>
		<td>
			<input type="text" th:field="*{levels[__${skillStat.index}__]}" th:attr="autofocus=${autofocus eq skill ? '' : null}"
					class="numberBox" maxlength="1" placeholder="0" />
			<span th:text="' / ' + ${skill.maxLevel}"></span>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<select th:field="*{newSkill}" onchange="document.getElementById('addSkill').click()">
				<option disabled selected value="">Select a skill</option>
				<option th:each="skill : ${skillList}" th:if="${not #lists.contains(form.skills, skill)}"
						th:value="${skill.urlName}" th:text="${skill.name}"></option>
			</select>
			<button id="addSkill" name="addSkill" style="display: none;">+</button>
		</td>
		<td></td>
	</tr>
</table>
<table class="form">
	<tr>
		<th colspan="3">Required Slots</th>
	</tr>
	<tr>
		<th class="subheader">L3</th>
		<th class="subheader">L2</th>
		<th class="subheader">L1</th>
	</tr>
	<tr>
		<td><input type="text" th:field="*{requiredSlots3}" class="numberBox" maxlength="1" placeholder="0" /></td>
		<td><input type="text" th:field="*{requiredSlots2}" class="numberBox" maxlength="1" placeholder="0" /></td>
		<td><input type="text" th:field="*{requiredSlots1}" class="numberBox" maxlength="1" placeholder="0" /></td>
	</tr>
</table>
<div class="actions">
	<button name="search">Search</button>
</div>
</form>

<div th:if="${result}">
<h3>Results</h3>
<p th:text="|Searched ${result.permutationCount} permutations with ${result.candidateCount} pieces of equipment and
	found ${result.solutions.size()} solutions.|"><p>
<table th:if="${!result.solutions.isEmpty()}" class="data">
	<tr>
		<th>Equipment</th>
		<th>Total Skills</th>
	</tr>
	<tr th:each="set : ${result.solutions}" th:class="${setStat.odd ? 'odd' : 'even'}">
		<td>
			<ul class="unstyled">
				<li th:each="equipment : ${set.equipment}" th:text="${equipment.name}"></li>
			</ul>
		</td>
		<td>
			<ul class="unstyled">
				<!-- Total skills on one line -->
				<li>
					<th:block th:each="entry : ${set.skillSet.skillLevels}">
					<a th:href="${'/skill/' + entry.key.urlName}" th:text="${entry.key.name}"></a>
					<span th:text="${entry.value + (entryStat.last ? '' : ',')}"></span>
					</th:block>
					</li>
				<!-- Total slots on the next line -->
				<li th:if="${set.slotSet.count gt 0}"><span th:text="${set.slotSet.label}"></span></li>
			</ul>
		</td>
	</th:block>
</table>
</div>

</th:block>
</html>
