<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Skill List'">
<th:block layout:fragment="content">
	<table class="data">
		<th:block th:each="skill : ${skills}">
		<tr th:each="description : ${skill.descriptions}"
				th:class="${skillStat.odd ? 'odd' : 'even'}">
			<td th:attr="rowspan=${descriptionStat.size}" th:if="${descriptionStat.first}">
				<a th:href="${'/skill/' + skill.urlName}" th:text="${skill.name}"></a>
			</td>
			<td th:text="'Lv ' + ${descriptionStat.count}" />
			<td th:text="${description}" />
		</tr>
		</th:block>
	</table>
</th:block>
</html>
