<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title=${skill}">
<th:block layout:fragment="content">
	<p th:text="${skill.description}">The main skill description.</p>

	<table class="data" th:if="${!skill.isWildcard()}">
		<tr>
			<th>Level</th>
			<th>Description</th>
		</tr>
		<tr th:each="description : ${skill.levelDescriptions}" th:class="${descriptionStat.odd ? 'odd' : 'even'}">
			<td th:text="'Lv ' + ${descriptionStat.count}"></td>
			<td th:text="${description}"></td>
		</tr>
	</table>

	<th:block th:if="${!skill.isWildcard()}">
		<h3>Charms</h3>
		<p th:text="${'No charms with ' + skill.name}" th:if="${charms.isEmpty()}"></p>
		<table th:if="${!charms.isEmpty()}" class="data">
			<tr>
				<th>Charm Name</th>
				<th>Skills</th>
			</tr>
			<tr th:each="charm : ${charms}" th:class="${charmStat.odd ? 'odd' : 'even'}">
				<td th:text="${charm.name}"></td>
				<td>
					<th:block th:each="entry : ${charm.skillSet.orderedSkillLevels}">
					<a th:href="@{${'/skill/' + entry.key.urlName}}" th:text="${entry.key.name}"></a>
					<span th:text="${entry.value + (entryStat.last ? '' : ',')}"></span>
					</th:block>
				</td>
			</tr>
		</table>
	</th:block>

	<h3>Decorations</h3>
	<p th:text="${'No decorations with ' + skill.name}" th:if="${decorations.isEmpty()}"></p>
	<table th:if="${!decorations.isEmpty()}" class="data">
		<tr>
			<th>Decoration Name</th>
			<th>Skills</th>
		</tr>
		<tr th:each="decoration : ${decorations}" th:class="${decorationStat.odd ? 'odd' : 'even'}">
			<td th:text="${decoration.name}"></td>
			<td>
				<th:block th:each="entry : ${decoration.skillSet.skillLevels}">
				<a th:href="@{${'/skill/' + entry.key.urlName}}" th:text="${entry.key.name}"></a>
				<span th:text="${entry.value + (entryStat.last ? '' : ',')}"></span>
				</th:block>
			</td>
		</tr>
	</table>

	<th:block th:if="${!skill.isWildcard()}">
		<h3 th:text="'Equipment with ' + ${skill.name}"></h3>
		<table th:insert="~{fragments/equipment-table :: standard}"></table>
	</th:block>

</th:block>
</html>
