<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Skill List'">
<th:block layout:fragment="content">
	<table>
		<tbody th:each="skill : ${skills}">
			<tr>
				<td th:attr="rowspan=${skill.descriptions.size()}">
					<a th:href="${'/skill/' + skill.urlName}" th:text="${skill.name}"></a>
				</td>
				<td th:text="${skill.descriptions.get(0)}" />
			</tr>
			<tr th:if="${skill.descriptions.size() gt 1}" th:each="description : ${skill.descriptions.subList(1, skill.descriptions.size())}">
				<td th:text="${description}" />
			</tr>
		</tbody>
	</table>
</th:block>
</html>
